<!DOCTYPE html>
<html>
<head>
    <title>SwiftShip</title>
    <link href="~/css/content/wavy.css" rel="stylesheet" />
    <!--<a href="~/js/scripts/jquery-3.6.0.min.map"></a>-->
    <script src="~/js/scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
     @RenderBody()
</body>
</html>