<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[AppTemplate Name]</title>

    <link href="~/lib/extLib/ext/resources/css/ext-all.css" rel="stylesheet" />
    <link href="~/css/Content/desktop.css" rel="stylesheet" />
    <link href="~/css/Content/htmleditorplugins.css" rel="stylesheet" />
    <link href="~/css/Content/RowEditor.css" rel="stylesheet" />

    <script src="~/lib/extLib/ext/adapter/ext/ext-base.js"></script>
    <script src="~/lib/extLib/ext/ext-all-debug.js"></script>
    <script src="~/js/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/js/Scripts/RowEditor.js"></script>

    <script src="~/lib/extLib/ext/FileUploadField.js"></script>

    <script src="~/js/global/config.js"></script>
    
</head>
<body>
    @RenderBody()
</body>
</html>
