
@{
    ViewBag.Title = "Desktop";
    Layout = "~/Views/Shared/Desktop.cshtml";
}

<script src="~/js/Scripts/jquery-3.4.1.js"></script>
<script src="~/js/Scripts/Desktop.js"></script>
<script src="~/js/Scripts/App.js"></script>
<script src="~/js/Scripts/Module.js"></script>

<script src="~/js/global/access.js"></script>

<div id="x-desktop">
    <!----> <a href="https://panafricansl.com" target="_blank" style="margin:5px; float:right;">
        <img src="~/images/WIF_logo.png" style="height:60px;width:80px;" />
    </a>

            <dl id="x-shortcuts" class="dl">

                <dt id="adm" class="master adm">
                    <a id="dtCap">
                        <img src="~/images/grid48x48.png" />
                        <div>Admin</div>
                    </a>
                </dt>

                <dt id="officeA" class="grid officeA">
                    <a id="grd">
                        <img src="~/images/grid48x48.png" />
                        <div>Office Area</div>
                    </a>
                </dt>

                <dt id="drv" class="grid drv">
                    <a id="acc">
                        <img src="~/images/grid48x48.png" />
                        <div>Driver</div>
                    </a>
                </dt>

                <dt id="conso" class="grid conso">
                    <a id="recoveries">
                        <img src="~/images/grid48x48.png" class="gridimg" />
                        <div>Consolidator</div>
                    </a>
                </dt>

                <dt id="shipn" class="gen_modules shipn">
                    <a id="cse_mgmt">
                        <img src="~/images/grid48x48.png" class="gridimg" />
                        <div>Shipping</div>
                    </a>
                </dt>

                <dt id="agent" class="gen_modules agent">
                    <a id="capex">
                        <img src="~/images/grid48x48.png" class="gridimg" />
                        <div>Agents and Agencies</div>
                    </a>
                </dt>


                <dt id="dash" class="gen_modules dash">
                    <a id="approval">
                        <img src="~/images/grid48x48.png" class="gridimg" />
                        <div>Dashboards</div>
                    </a>
                </dt>

                <dt id="setup" class="reports setup">
                    <a id="rept" href="#">
                        <img src="~/images/s.gif" />
                        <div>User Configuration</div>
                    </a>
                </dt>

                <dt id="pwd_reset" class="cred pwd_reset">
                    <a id="pwd_reset" href="#">
                        <img src="~/images/grid48x48.png" class="gridimg" />
                        <div>ID Challenge</div>
                    </a>
                </dt>

                <dt id="acc-win-logout" class="ext">
                    <a id="logoff" href="#">
                        <img src="~/images/exit.png" class="background:no-repeat" />
                        <div>Log off</div>
                    </a>
                </dt>
                

            </dl>

</div>


<div id="ux-taskbar">
    <div id="ux-taskbar-start"></div>
    <div id="ux-taskbuttons-panel"></div>
    <div class="x-clear"></div>
</div>


<script type="text/javascript">

    
    $(document).ready(function () {
        //$('#x-shortcuts dt').hide();
        $('.dl dt').hide();
        Ext.BLANK_IMAGE_URL = "../../images/s.gif";
        Ext.QuickTips.init(); //enable tooltips
        Ext.chart.Chart.CHART_URL = '~/images/charts.swf';

        access.GetAssignedModules("@Url.Action("GetAssignedModules","Utility")", $('.dl dt'));
        
        $('#x-desktop').zoom = '90%';

        setInterval(()=>{
            var url = pfx + '/User/GetLoggedStatus';
            $.getJSON(url,{},function(fs){
                if (fs.status.toString() == "false"){
                    window.location ="@Url.Action("AltLogin","Home")";
                }
            })
        },5000);

    });
    

</script>